* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #051630;
    --border: #2c323d;
    --text-color: #fff;
    --muted: #8891a1;
    --amber: #f2a93b;
    --teal: #4fd1c5;
    --coral: #ff7a6b;
    --secondry-bg: #0650BE;
    --console-bg: #21262F;
}

body {
    font-family: sans-serif;
    background-color: var(--background);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    
}

section {
    margin-top: clamp(1.5rem, 10vw, 5rem);
    box-shadow: 0 0 10px var(--secondry-bg);
    width: min(100% - 4rem, 70rem);
    padding: clamp(1rem, 5vw, 3rem);
    display: grid;
    gap: clamp(1rem, 5vw, 2rem);
}

h1 {
    background-color: var(--secondry-bg);
    width: 100%;
    padding: clamp(.5rem, 5vw, 1rem);
    text-align: center;
    color: var(--amber);
    font-size: clamp(1rem, 5vw, 2.5rem);
}

h2{
    color: var(--amber);
    margin-bottom: .5rem;
}

.short-bio {
    color: var(--muted);
}

.console-wrap {
    border: 2px solid var(--border);
    border-radius: 1rem;
    overflow: hidden;
}

.console-bar {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--console-bg);
}

.jsInput{
    padding: 1rem 2rem;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    color: var(--amber);
    min-height: clamp(10rem, 10vw, 20rem);
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.dot.r {
   background-color: rgb(218, 18, 18);
}

.dot.y {
    background-color: rgb(218, 218, 18);
}

.dot.g {
    background-color:rgb(18, 218, 18);
}

.console-bar span{
    color: var(--muted);
}

.console-action {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--console-bg);
}

.hint {
    color: var(--muted);
}

.runBtn {
    background-color: var(--amber);
    padding: .5rem 1.5rem;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
    font-weight: 600;
    transition: 0.3s ease;
}

.runBtn:hover{
    transform: translateY(-5px) scale(1.03);
}

.output {
    padding: 1rem 2rem;
    white-space: PRE-WRAP;
}

.output .err {
    color: var(--coral);
}

.output .ok {
    color: var(--teal);
}

.placeholder{
    color: var(--muted);
}