* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.restaurant-name,
.restaurant-location,
.restaurant-rating {
    padding: .3pc 12pc;
}

.banner-image {
    display: block;
    width: 100%;
    height: 50vh;
}

.restaurant-name {
    margin-top: 1pc;
    font-weight: 800;
}

.restaurant-location {
    font-size: 15px;
    font-weight: 600;
    display: flex;
    gap: 10pc;
}

.rest-location {
    color: grey;
}

.change-location {
    color: #06C067;
}

.change-location:hover {
    color: #267c53;
}

.restaurant-rating {
    display: flex;
    font-weight: 600;
    align-items: center;
    gap: 2px;
    padding-bottom: 1pc;
}

.checked {
    color: orange;
}

.restaurant-navigation {
    padding: 1pc 12pc;
    box-shadow: 0 0 1px 0 rgb(168, 168, 168);
    display: flex;
    gap: 3pc;
}

.restaurant-nav-link {
    color: black;
    font-weight: 600;
}

.restaurant-nav-link:hover {
    color: #06C067;
}

/* available items and offers and selected items */
.restaurant-items-offers {
    display: flex;
    padding: 6pc 0;
    gap: 2pc;
    position: relative;
    margin-bottom: 4pc;
}


/* ordere items card  */
.your-ordered-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    /* background-color: #E5FDF2; */
    box-shadow: 0 0 10px 3px #E5FDF2;
    padding: 1pc;
    border-radius: 1pc;
    max-height: 32pc;
    position: sticky;
    top: 30px;
}


.ordered-item-details {
    padding: 10px;
    font-weight: 900;
    font-size: 1.1pc;
    box-shadow: 0 5px 0 0 #E5FDF2;
    margin-bottom: 5px;
}

.ordered-item {
    padding: 15px;
    box-shadow: 0 5px 0 0 #E5FDF2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 5px;
    font-size: small;
    font-weight: 600;
}

.remove-selected-item {
    color: red;
}

.remove-selected-item:hover {
    color: #06C067;
}

.item-price {
    color: grey;
}

.items-total-price {
    padding: 15px;
    font-weight: 700;
}

.proceed-checkout {
    padding: 10px;
    font-weight: 600;
    background-color: #06C067;
    width: fit-content;
    border-radius: 10px;
    color: white;

}

.proceed-checkout:hover{
    background-color: #E5FDF2;
    box-shadow: 0 0 10px 0 #06C067;
    color: black;
}

/* items details price and images */


.restaurant-items {
    display: flex;
    box-shadow: 0 0 10px 3px #E5FDF2;
    justify-content: center;
    align-items: center;
    width: 52.9pc;
    height: 12pc;
    padding: 2pc;
    margin-bottom: 1pc;
}

.item-heading-rating {
    display: flex;
    align-items: center;
    gap: 9pc;
    width: 39.55pc;
}

.item-calories-bio {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: grey;
}


/* offers and discounts  */
.offers-and-discounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1pc;
    width: 300px;
    height: 86vh;
    box-shadow: 0 0 10px 3px #E5FDF2;
    /* position: fixed; */
    top: 30px;
    position: sticky;
    
    
}

.first-order-discount {
    display: flex;
    flex-direction: column;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1)),
    url(/assets/images/dish-3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 0 0; 
    padding: 1pc;

}

h3{
    font-size: 30px;
    padding: 1pc;
    box-shadow: 0 0 10px 0  #E5FDF2;
    color: white;
    font-weight: 900;
}

.discount-offer-bio {
    color: white;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 500;
}

/* discounts offer form  */

.discount-offer-form {
    display: flex;
    flex-direction: column;
    padding: 1pc;
    gap: 20px;
    align-items: center;
}

input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    box-shadow: 10px 10px 10px 10px #E5FDF2;

}

button {
    width: 100%;
    background-color: #06C067;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
    color: white;
}

button:hover{
    background-color: #E5FDF2;
    box-shadow: 0 0 10px 0 #06C067;
    color: black;
}

.discount-valid-till {
    font-weight: 200;
    color: grey;
    line-height: 1.5;
    text-align: center;
}

/* Restaurant about section  */
.restaurant-about-section{
    display: flex;
    justify-content: center;
    gap: 4pc;
    background-color: #FAFBFA;
    padding: 6pc;
    position: relative;
    margin-bottom: 10pc;
}

.restaurant-about{
    display: flex;
    flex-direction: column;
    gap: 1pc;
    position: sticky;
    top: 30px;
    height: 18pc;
}

.restaurant-about-title{
    font-weight: 800;
    line-height: 1;
}

.variety-of-items,
.restaurant-about-section-bio,
.restaurant-address,
.restaurant-phone-number,
.restaurant-email{
    font-weight: 500;
    color: grey;
}


.restaurant-social-media{

}

/* restaurant about section hours table  */
table{
    border-collapse: collapse;
}

thead tr th{
    background-color: #E5FDF2;
    font-size: large;
    font-weight: 900;
}

tr{
    box-shadow: 0 0 1px 0 #86c4a7; 
    transition: 0.3s ease;
}


th,td{
    background-color: white;
    padding: 10px;
    width: 20pc;
    text-align: center;
}

tr:hover{
    transform: translateY(-3px) scale(1.03);
    font-weight: 600;
    color: #06C067;
}

/* restaurant on map and gallery  */
.restaurant-map-gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10pc;
    gap: 5pc;
}

.restaurant-map{
    box-shadow: 0 0 10px 1px #E5FDF2;
    /* width: 100px; */
}

.restaurant-gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.gallery-img{
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    display: block;
}

.gallery-img:hover{
    transform: scale(1.05);
}
