* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Manrope', sans-serif;
    background-color: #FFFFFF;
}

/* home layout */
.home-layout {
    padding: 50px 100px;
    display: flex;
    align-items: flex-start;
    gap: 60px;
    position: relative;
}

/* form styling  */
.lunch-perk-form {
    padding: 10px;
    border: 1px solid #bcead3;
    box-shadow: 50px 0px 100px 10px #d2fce9;
    width: 100%;
    max-width: 550px;
    /* margin: 50px 0 0 0 auto; */
    margin-top: 50px;
    flex-shrink: 0;
    border-radius: 20px;

}

.form-top-section {
    background-color: #F2FBF7;
    padding: 15px 30px;
    border-radius: 20px 20px 0px 0px;
}

.offer-close-time {
    text-align: center;
    font-size: small;
    font-weight: 600;
    padding: 8px;
    background: #000;
    color: white;
    border-radius: 20px;
    width: 100%;
    max-width: 22em;
    letter-spacing: .2px;
    text-transform: uppercase;
    line-height: 1;
}


.bullet {
    color: rgb(11, 255, 11);
    padding-right: 1px;
}

.form-heading {
    margin-top: .3em;
    font-size: 1.5em;
    font-weight: 900;
}

.offer-time {
    font-size: .8em;
    line-height: 1;
    font-weight: 600;
    margin-top: .4em;
    text-transform: capitalize;
}

.form-type {
    padding: 3px 3px;
    display: flex;
    width: 90%;
    margin: 20px;
    background: #F0F3F1;
    border-radius: 10px;
    justify-content: center;
    gap: 10px;
}

.form-type-button {
    width: 100%;
    padding: 12px;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(222, 222, 222);
}

.form-data {
    padding: 10px;
}

.collect-data,
select {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px 0px rgb(188, 186, 186);
    margin-top: 9px;
}

.food-you-love {
    padding: 10px 0px 0px 10px;
}

.your-fav-food {
    padding: 0px 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.fav-food {
    margin-top: 10px;
}

.place-eating {
    padding: 0px 0px 10px 10px;
    display: flex;
    gap: 50px;
}

.claim-perk {
    padding: 20px 0px 0px 0px;
}

.submit-button {
    font-size: large;
    font-weight: 900;
    padding: 10px;
    width: 100%;
    border-radius: 10px;
    border: none;
    background: #04A055;
    color: white;
    transition: 0.3s ease;
}

.submit-button:hover {
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
}

.trust {
    display: flex;
    justify-content: center;
    padding: 9px 0px 20px 0px;
    font-size: small;
    gap: 20px;
}

.tick-mark {
    color: rgb(118, 217, 118);
    font-weight: 800;
}

.sections {
    width: 50%;
    position: sticky;
    top: 30px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.announcement {
    font-weight: 600;
    font-size: small;

    background: #E6F9F0;
    color: #04A055;
    text-align: center;
    max-width: 22em;
    padding: 10px;
    border-radius: 20px;
    line-height: 1;
}


.pk {
    padding: 3px;
    font-size: 10px;
}

.hero-heading {
    font-size: 70px;
    font-weight: bolder;
}

.italic-in-h1 {
    font-size: 70px;
    color: rgb(87, 170, 87);
    font-style: italic;
    font-family: initial;
}

.hero-heading-part {
    font-size: 70px;
    font-weight: bolder;
    background: #8eddb4;
    width: fit-content;
}

.hero-section-bio {
    padding: 10px 150px 0px 0px;
    font-size: 20px;
    line-height: 1.5;
}

.offers-for-customers-restaurant {
    display: flex;
    padding: 20px 0px;
    gap: 20px;
    /* box-shadow: 1px 1px 1px 1px #c9c9c9; */
    width: fit-content;


}

.customer-offer,
.restaurant-offer {
    box-shadow: 0px 0px 2px 0px rgb(186, 186, 186);
    padding: 20px;
    border-radius: 20px;
    transition: 0.3s ease;
}

.customer-offer:hover,
.restaurant-offer:hover {
    transform: scale(1.03);
    background-color: #E6F9F0;
}

.offer-heading {
    font-size: 20px;
    font-weight: 900;
}

.offer-bio {
    font-size: 13px;
    font-weight: 400;
    line-height: 1;
}

.our-ratting {
    display: flex;
    box-shadow: 0px 0px 2px 0px rgb(186, 186, 186);
    padding: 10px 48px;
    align-items: center;
    border-radius: 10px;
    width: fit-content;
    gap: 30px;
}

.profile-image-section {
    display: flex;
    position: relative;

}

.profile-image {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    margin-left: -10px;
    border: 2px solid white;
}

.checked {
    color: orange;
}

.total-number-people {
    font-size: small;
}

/* where we are already  */
.top-cities {
    padding: 8px 16px;
    box-shadow: 0px 0px 2px 0px rgb(186, 186, 186);
    width: fit-content;
    min-width: 34em;
    margin-top: 20px;
    border-radius: 10px;
}

.live-city-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.bull {
    color: rgb(87, 170, 87);

}

.header-first-p {
    font-size: large;
    font-weight: 800;
}

.header-small-line {
    font-size: 10px;
    font-weight: 500;
    color: grey;
}

.city {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
}

.progress-container {
    height: 8px;
    width: 350px;
    border-radius: 10px;
    background-color: lightgrey;
}

.inner-container {
    background-color: rgb(87, 170, 87);
    height: 8px;
    border-radius: 10px;
}

.pre-register-button {
    background-color: black;
    margin-top: 15px;
    border-radius: 10px;
    text-align: center;
     padding: 5px;
     transition: 0.3s ease;
}

.percentage-text {
    font-weight: 600;
    color: rgb(87, 170, 87);
}

.pre-register-button a {
    color: white;
    /* font-size: small; */
    /* justify-content: center; */
    font-weight: 600;
   
}

.pre-register-button:hover {
    background-color: #E5FDF2;
    color: black; 
    box-shadow: 0 0 1px 1px #06C067;
}

.pre-green {
    color: rgb(87, 170, 87);
    display: inline-block;
}


/* press section  */
.press-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background: #FAFBFA;
    box-shadow: 0 0 1px 0 grey;
}

.featured-in-press {
    margin-bottom: 20px;
    color: grey;
    font-size: small;
    font-weight: 600;
    text-transform: uppercase;
}

.press {
    display: flex;
    gap: 5em;
}

.channel {
    color: grey;
    font-size: medium;
    font-weight: 800;
}

.channel:hover {
    color: black;
    /* cursor:default; */
}


/* How works section  */
.how-works-section {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.how-works-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.how-it-works {
    color: #04A055;
    font-size: medium;
    font-weight: 400;
    margin-bottom: 10px;
}


.how-works-first-heading {
    font-size: 2.5em;
    font-weight: 900;
}

.how-works-second-heading {
    font-weight: 200;
    font-family: initial;
    font-style: italic;
    color: rgb(87, 170, 87);
}

.start-now {
    padding: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
    transition: 0.3s ease;
}

.start-now:hover {
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
}

.how-works-cards {
    display: flex;
    gap: 30px;
}

.how-it-works-card {
    padding: 40px;
    width: fit-content;
    background-color: #FAFBFA;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 grey;
    transition: 0.3s ease;
}

.card-number {
    padding: 5px;
    font-size: large;
    font-weight: 900;
    width: fit-content;
    background-color: black;
    color: #04A055;
    border-radius: 8px;
    margin-bottom: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: 900;
    margin-bottom: 10px;
}

.card-bio {
    color: grey;
    line-height: 1.5;
}

.how-it-works-card:hover {
    box-shadow: 0 0 5px 0 #04A055;
    transform: translate(-2px) scale(1.01);
}

/* uber vs other delivery apps  */
.uber-vs-other-section {
    padding: 50px 100px;
    background-color: #FAFBFA;
    box-shadow: 0 0 1px 0 gray;
}

.uber-vs-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.side-by-side {
    background: #E6F9F0;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    text-transform: uppercase;
    color: #04A055;
    font-size: smaller;
    line-height: 1;
    font-weight: 500;
    margin-top: 30px;
}

.uber-vs-other-title {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 10px;
}

.uber-vs-other-bio {
    padding: 0 350px;
    justify-content: center;
    font-weight: 500;
    color: grey;
    line-height: 1.5;
    letter-spacing: 1px;
}

.table {
    margin-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

.tr-head {
    box-shadow: 0 0 1px 0 grey;
    border-radius: 10px 10px 0 0;

}

tr {
    box-shadow: 0 0 1px 0 grey;
    transition: 0.3s ease;
}

tr:hover {
    transform: translatey(-5px) scale(1.01);
    color: #04A055;
}

td,
th {
    padding: 20px;
    text-align: left;
}

td {
    background-color: white;
    font-weight: 600;
    line-height: 1;
}

.table-last-line {
    margin-top: 20px;
    font-size: 10px;
    color: grey;
    letter-spacing: .5px;
    text-align: center;
}

/* Why Uber Eats Pakistan  */
.future-of-uber-eats {
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-bottom: 5em;
}

.built-for-2026 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.why-uber-eats {
    line-height: 1;
    font-size: smaller;
    font-weight: 600;
    letter-spacing: 1px;
    color: #04A055;
    text-transform: uppercase;
    background-color: #E6F9F0;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.pakistan-next-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
}

.built-for-future {
    color: #04A055;
    font-style: italic;
    font-family: initial;
}

.future-of-uber-eats-bio {
    margin: 0 25em;
    text-align: center;
    color: grey;
    margin-bottom: 3em;
}

.cities-and-food-type {
    display: flex;
    padding: 0 12em;
    gap: 3em;
}

.order-food-city,
.food-types {
    padding: 20px;
    box-shadow: 0 0 1px 0 grey;
    border-radius: 10px;
    transition: 0.3s ease;
}

.order-food-city:hover,
.food-types:hover {
    box-shadow: 0 0 2px 0 #04A055;
    transform: translateY(-5px) scale(1.03);
}

.cities-and-food-type-heading {
    font-size: larger;
    font-weight: 800;
    margin-bottom: 10px;
}

.cities-and-food-type-bio {
    color: grey;
}

.major-cities {
    padding: 10px;
    gap: 10px;
}

.cities-and-foods {
    display: inline-block;
    margin: 5px 5px 5px 5px;
    padding: 8px;
    text-align: center;
    background-color: #FAFBFA;
    box-shadow: 0 0 1px 0 grey;
    border-radius: 20px;
}

.cities-and-foods:hover {
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
}

/* tired of high paying commission  */
.tired-of-paying-high-commission {
    display: flex;
    color: white;
    background-color: black;
    margin: 0 11em;
    border-radius: 15px;
    align-items: center;
    margin-bottom: 10em;
    transition: 0.3s ease;
}

.tired-of-paying-high-commission:hover {
    transform: translateY(-1px) scale(1.02);
}

.tired-of-paying-25,
.facilities-for-restaurant-owners {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 37em;
    padding: 70px 40px;
}

.for-restaurant-owners {
    color: #04A055;
    /* font-size: large; */
    line-height: 1;
    font-weight: 600;
    margin-bottom: 1em;
}

.tired-of-paying {
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 10px;
    width: fit-content;
}

.tired-of-paying-bio {
    color: grey;
    margin-bottom: 2.5em;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list-your-restaurant {
    font-weight: 600;
    line-height: 1;
    padding: 1em;
    color: white;
    width: fit-content;
    background: #04A055;
    border-radius: 20px;
    transition: 0.3s ease;
}

.list-your-restaurant:hover {
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
    transform: translateY(-3px) scale(1.03);
}

.read-faq {
    font-weight: 600;
    line-height: 1;
    padding: 1em;
    color: white;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 0 2px 0;
    transition: 0.3s ease;
}

.read-faq:hover {
    transform: translateY(-3px) scale(1.03);
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
}

.facilities-for-restaurant-owners {
    gap: 15px;
    padding-inline: 10px;
}

.correct-mark {
    background-color: #04A055;
    padding: 0 3px;
    border-radius: 30px;
    margin-right: 5px;
    color: black;
}

.facility {
    background-color: #141816;
    box-shadow: 0 0 1px 0;
    padding: 15px;
    border-radius: 30px;
}

.facility:hover {
    background-color: black;
}

/* frequently asked question and answer  */
.faq-you-want {
    display: flex;
    background: #FAFBFA;
    position: relative;
    align-items: flex-start;
    margin-bottom: 8em;
}

.faq-you-want-intro {
    width: 100%;
    position: sticky;
    top: 30px;
    display: flex;
    align-self: flex-start;
    flex-direction: column;
    padding: 6em;
}

.faq {
    color: #04A055;
    font-weight: 600;
    margin-bottom: 1em;
}

.faq-heading {
    font-size: 2.3em;
    font-weight: bolder;
    margin-bottom: 15px;
}

.faq-bio {
    color: grey;
    margin-bottom: 15px;
}

.talk-to-our-call-center {
    background-color: white;
    width: fit-content;
    padding: 20px 15px;
    border-radius: 20px;
    box-shadow: 0 0 1px 0 grey;
    transition: o.3s ease;
}

.talk-to-our-call-center:hover{
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
}

.call-center-heading {
    font-weight: 600;
    margin-bottom: 8px;
}

.call-center-bio {
    color: grey;
    font-size: 15px;
    margin-bottom: 8px;
}

.email {
    color: #04A055;
    font-weight: 600;
}

.faq-q-and-answers {
    padding: 5em 0;
}

.question-and-answer {
    background-color: white;
    width: 80%;
    padding: 20px 40px;
    border-radius: 20px;
    margin-bottom: 2em;
    box-shadow: 0 0 1px 0 rgb(175, 175, 175);

}

.question {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 8px;

}

.answer {
    color: grey;
}

/* Dont't miss the founder window section  */
.founder-window {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-items: center;
    justify-self: center;
    background-image: linear-gradient(#E3F8EE, #EFFBF5);
    border-radius: 60px;
    padding: 5em;
    margin-bottom: 5em;
    box-shadow: 0 0 2px 0 #32a64b;
    transition: 0.3s ease;
}

.founder-window:hover {
    box-shadow: 0 0 10px 0 #06C167;
    transform: translateY(-3px) scale(1.02);

}

.founder-window-heading {
    font-size: 2.6em;
    font-weight: 900;
    margin-bottom: 15px;
}

.founder-window-bio {
    font-size: 20px;
    width: 26em;
    margin-bottom: 2em;
}

.founder-window-button {
    padding: 20px;
    background-color: #06C167;
    border-radius: 30px;
    color: black;
    font-weight: 600;
    box-shadow: 0 0 5px 0 #06C167;
    letter-spacing: 1px;
    margin-bottom: 1em;
    transition: 0.3s ease;
}

.founder-window-button:hover {
    background-color: #E5FDF2;
    color: black;
    box-shadow: 0 0 1px 1px #06C067;
}

